/* Set background gradient as well as some other elements*/
.App {
  text-align: center;
  background: linear-gradient(-45deg, #6b2ce7, #ffad42);
	animation: gradient 15s ease infinite;
  background-size: 200% 200%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  font-weight: bold;
  font-family: Friz Quadrata, 'Times New Roman', Times, serif;
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
}


.noData {
  align-self: center;
  color: #010108;
  font-size: larger;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  opacity: 50%;
  color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


/* first text that pops up as well as input and search button */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #000000;
  height: min-content;
  -webkit-text-stroke: 1px gold;
  font-size: 50px;
}

.top {
  padding: 10px;
  display: flex;
  padding: 0px;
  font-size: larger;
  font-weight: 200;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  align-items: center;
}

.button {
  padding: 5px;
  margin: 5px;
  border: #010108;
  border-style: solid;
  border-width: 4px;
  width: 50%;
}

.searchUser {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.summoner {
  border-style: solid;
  width: fit-content;
  border-width: 4px;
  padding: 5px;
  margin: 5px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.summoner:hover {
  transition: all 1s linear;
  box-shadow: 24px 24px 4px 2px rgba(0, 0, 255, .2);
}

input {
  padding: 5px;
  position: relative;
  text-align: center;
  outline: none;
  font-size: 20px;
  font-weight: bolder;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.input::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
  opacity: 30%;
}

/* content contains the top 3 champs as well as match history */
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
}


/* Player mastery layer */
.champions {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 5px;
  padding: 5px;
  color: white;
}

.champ {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: max-content;
  margin: 5px;
  padding: 10px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  background-color: #c876ff;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.champ.One:hover {
  transition: all 1s linear;
  background-color: red;
  color: white;
  box-shadow: 24px 24px 4px 2px rgba(0, 0, 255, .2);
}
.champ.champ.Two:hover {
  transition: all 1s linear;
  background-color: #f0a07c;
  color: #4a274f;
  box-shadow: 24px 24px 4px 2px rgba(0, 0, 255, .2);
}
.champ.Three:hover {
  transition: all 1s linear;
  background-color: yellow;
  color: black;
  box-shadow: 24px 24px 4px 2px rgba(0, 0, 255, .2);
}


.champ.Two {
  flex-direction: row-reverse;
}

.sumImage {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  animation: fadeIn ease 5s;
  box-shadow: 0px 2px 2px 2px black
}

.description {
  font-size: 20px;
  display: flex;
  width: 35vw;
  font-weight: bold;
  flex-wrap: wrap;
}


/* match history layer*/
.matches {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: fit-content;
  animation: fadeIn ease 5s;
}

.game {
  display: flex;
  margin: 5px;
  padding: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px 20px;
  width: auto;
  justify-content: space-evenly;
  border-style: solid;
  border-width: 4px;
  animation: fadeIn ease 5s;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.game:hover {
  transition: all 1s linear;
  box-shadow: 24px 24px 4px 2px rgba(0, 0, 255, .2);
}

.won {
  background-color: lightgreen;
}

.lost {
  background-color: #D1495B;
}

.winTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.matchImg {
  width: 15%;
}

.kda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  width: 25%;
}

.DMG {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}

.page {
  display: flex;
  justify-content: space-evenly;
}

.prev, .next {
  padding: 5px;
  width: 25%;
  border: #010108;
  border-style: solid;
  border-width: 4px;
}

.button, .prev, .next {
  font-weight: bold;
  font-family: Friz Quadrata, 'Times New Roman', Times, serif;
  font-size: 14px;
}

.prev:hover, .next:hover, .button:hover {
  color: #ffffff !important;
	background: #000000;
	border-color: #f6b93b !important;
	transition: all 0.4s ease 0s;
}

@media only screen and (max-width: 1120px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
}

@media only screen and (max-width: 800px) {
  .DMG {
    display: none;
  }
  .description {
    font-size: 16px;
  }
  .game {
    padding: 1px;
    width: 300px;
  }
}

/* keyframes for animations*/
@keyframes fadeIn {
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes gradient {
	0% {
		background-position: 0% 100%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 100%;
	}
}
